*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: 700px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  }
  
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
  }
  .navbar ul li a:hover{
    color: #fff;
    transition: 0.5s;
  }
  .navbar ul li:hover::after {
    width: 100%;
   
  }
.papan{
width: 50%;
height: 65%;
left: 25%;
  position: absolute;
  top: 25%;
 border: 2px solid snow;
  transform: translateY(-50);
  text-align: center;
  color: #fff;
}
.posisi{
    width: 100%;
    height: 100%;
    border: 2px solid springgreen;
   margin-top: 25px;
  position: absolute;
  
 border: 2px solid snow;
  transform: translateY(-50);
  text-align: center;
}
.card {
    border: 2px solid whitesmoke;
    width: 25%;
    height: 35%;
    padding: 10px;margin: 25px 75px;
    display: inline-block;
cursor: pointer;    
}
.card .keluarga{
    background-image: url(../img/keluarga.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.card .asmara{
    background-image: url(../img/asmara.jpg);
    background-position: center;
    background-size: cover;
  
}
.card .kawan{
    background-image: url(../img/kawan.jpg);
    background-position: center;
    background-size: cover;

}
.card .kehidupan{
    background-image: url(../img/kehidupan.jpg);
    background-position: center;
    background-size: cover;
    
}